<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Photostat' %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Hello, Hello!</h1>

    <%= yield %>
  </body>
</html>
