<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'Photostat' %></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
